*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body {
    font-family: 'Arimo', sans-serif;
}



.headerContainer {
    background-color: #a1a1c1;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-bottom: 10px;
}

.headerContainer h1 {
    font-family: 'Honk', cursive;
}

.mainContainer{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#button{
    padding: 10px 20px;
    font-size: 25px;
    cursor: pointer;
    border-radius: 10px;
    margin-bottom: 10px;
    font-family: 'Honk', sans-serif;
    background-color: #a1a1c1;


}

#reset{
    margin-top: 10px;
}

#preview{
cursor: url("/styles/eyedropper.png") 16 16, pointer;
}

#containerHistorico{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

#listaCores {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    /* border: solid 1px; */
    width: 150px;
    height: 150px;
    padding: 0;
    list-style: none;
    gap: 5px;
    margin-bottom: 10px;
}

#listaCores li {
    aspect-ratio: 1 / 1;
    width: 100%;
    height: 100%;
    border: 1px solid;
    border-radius: 10px 0;
    cursor: url("/styles/eyedropper.png") 16 16, pointer;
}